@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #4e47ff;
  --text-color: #252432;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  background-image: url("../Assets/Hero-bg.png");
  background-position: center;
  background-size: contain;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 800px;
  list-style: none;
  padding: 50px 0;
}

.logo {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 200px;
}

.hero h3 {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  text-align: center;
  color: var(--text-color);
}


.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    padding: 100px 100px ;
}

.action-texts h3 {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 15px;
    font-weight: 700;
}


.action-texts p {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 25px;
    opacity: 0.5;
}
.action img {
    flex: 1;
    max-width: 400px;
    height: auto;
    border-radius: 30px;
}

